name: "Integration Tests iOS"

on:
  push:
    branches:
      - develop
      - release/*
  pull_request:

jobs:
  tests:
    name: Tests
    runs-on: macos-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
      - name: Create .env file
        run: echo -e "${{ secrets.ENV_FILE }}" > example/.env
      - name: Setup
        uses: ./.github/actions/setup
      - name: Start iOS Simulator
        run: sh ./scripts/start_ios_simulator.sh
      - name: Run Integration on iOS
        run: pushd example && flutter test integration_test/integration_test.dart -d iPhone && popd
