name: "Integration Tests Android"

on:
  push:
    branches:
      - develop
      - release/*
  pull_request:

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Create .env file
        run: echo -e "${{ secrets.ENV_FILE }}" > example/.env
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
      - name: Get Flutter Dependencies
        run: pushd example && flutter pub get && popd
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Run Integration on Android
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: sh ./scripts/integration-tests-android.sh
